---
---

@import "question-and-answer";
@import "citations";

.reveal {
  section {
    img {
      border: 0;
    }
  }
  .slides {
    @import "images";
    @import "columns";

    .full-size {
      padding: 0;
      & > img {
        margin: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}



