---
title: Coding Creating Workshop Preparation
layout: presentation-reveal
styles:
  - reveal.css
---

<section
  data-markdown
  data-background-image='{% include image.html src="/images/codingcreative/Process_Four.png" %}'
  data-background-opacity='0.5'
>
# Coding Creative
## Workshop Preparation

</section>

<section data-markdown>
# Install Processing

If want to experiment during the workshop, you'll need to install the Processing App.

Download the version for your computer from https://processing.org/download/.

> It doesn't really matter if you use the 64-bit or 32-bit version.
</section>

<section>
<h1>Install Python mode</h1>
<div class="two-col">
    <div data-markdown>
      We'll be using Python mode.
      
      Open up Processing and install this from the menu in the top right.
    </div>
    <div data-markdown>
      ![]({% include image.html src='/images/codingcreative/Installing_Python_Mode.png' %})
    </div>
    </div>
</section>

<section data-markdown data-background-iframe='https://www.openprocessing.org/sketch/375690'>
  # Looking forward to seeing you
</section>
