---
title: Housing Monitoring for Plantech Show and Tell
---

{% include backgroundImage.html image='images/HMD Leeds Map.png' mask=true %}
class: impact

## Open Housing Monitoring

Giles Dring, ODI Leeds Associate

![]({% include image/odiLeeds.svg %})

---

[Innovation in Monitoring Housing Delivery](https://futurecities.catapult.org.uk/2018/07/02/innovation-in-monitoring-housing-delivery/)
CPC Blog Post 2nd July 2018

.smaller[
> ...we have been somewhat dismayed by the paucity of publicly available data on land holdings and build out rates.
]

???

* Blog post by Nissa Shahid, about 12 months ago
* Quote from Oliver Letwin's report

--

.question[__Can we do better?__]

---

# Prototype Hypothesis

.centred[
_Interpret &rarr; Link &rarr; Report_
]

We can use Open Data to count housing completions

???

* We worked with Stef / Euan / Tom to shape a prototype

--

...and maybe some other interesting stuff as well

???

* Lots of interest in e.g. affordable housing

---

{% include backgroundImage.html image='images/HMD Process Overview.jpg' %}

???

* Call for data sources
* Identified Planning Consents and Council Tax Registrations - Leeds Open Data (Data Mill North)

---

{% include backgroundImage.html image='images/HMD Infrastructure.jpg' %}

---

.smaller.half-col[
# The ideal &rarr;

* Easy to infer properties planned
* Perfect matching to schemes
* Council Tax registrations tally
]

<div class="half-col" style="
background-image: url('{{ "/images/HMD Bank Conversions.png" | relative_url }}');
height: 600px;
background-size: contain;
background-repeat: no-repeat;
"></div>

---

# The hard stuff

* **Cross-referencing**  
  .smaller[Difficult to match events reliably]
* **Geo-location**  
  .smaller[Datasets often have minimal geospatial content]
* **Hard to extract meaning**  
  .smaller[e.g. counts from planning applications]

---

# The future? Some potentials...

* Deliver into a local authority
* Add further data sources
* Education the community on licensing of address/geo data
* Define standards for 'event publication'

---

class: impact

Want to know more? Read our blog post

[Open data foundations - building a housing tool](https://odileeds.org/blog/2019-06-19-open-data-foundations-building-a-housing-tool)

.img-50.larger.centred.baseline[
![]({% include image/odiLeeds.svg %})
**\#radicallyopen**
]
